#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#logo {
  width: 150px;
}

#login {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;
  background: linear-gradient(107.04deg, #c346d5 52.6%, #501fc1 118.32%);
  border-radius: 100px;
  border: 0px;
}
